**/.DS_Store
/node_modules
/dist
# untracked temp files, Module-Node, log, npm e.t.c.
*~
_devil.png
_*.js
_*.json
node_modules
bower_components
npm-debug.log
site
build/ #ignore all files in directories- build 
prettysome/ #ignore all files in directories "prettysome"
рабочий_build/  #ignore all files in directories- рабочий_build
public/    #ignore all files in directories- public
dist/ #ignore all files in directories- dist
dist/assets/  
!dist/assets/bootstrap.min.css    #но не файл bootstrap.min.css
src/components/ui/ui-old-version/ #ignore all files in directories- ui-old-version
src/components/ui/ui-old-version/*.js

# ignore Архивы, дистрибутивы
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ignore Базы данных, логи
*.log
*.sql
*.sqlite

# ignore Спецфайлы операционных систем
Thumbs.db
Desktop.ini
.DS_Store*
ehthumbs.db
Icon?


